{% extends "layout.njk" %}

{% block content %}
  <h2>New Post</h2>

  <form method="post" action="/new">
    <p>
      <label>
        Title<br />
        <input type="text" name="title" required />
      </label>
    </p>

    <p>
      <label>
        Content<br />
        <textarea name="content" rows="5" required></textarea>
      </label>
    </p>

    <p>
      <button type="submit">Create</button>
    </p>
  </form>
{% endblock %}
